<h1>this is the index page for all students</h1>

<!-- iterate through students and output them -->
<% @students.each do |student| %>
<h1><%= student %></h1>
<!--<h1><%= student.last_name %></h1> -->
<% end %>
